<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css.css">
    <title>Create Activity</title>
</head>
<body>
<div th:replace="fragments/nav.html :: navigation"></div>

<h1>Create Activity</h1>

<form action="/createActivity" method="post">
    <p>ID:</p>
    <input type="text" name="id">
    <p>Name:</p>
    <input type="text" name="name">
    <p>Price:</p>
    <input type="text" name="price">
    <p>Description:</p>
    <input type="text" name="description">
    <p>Restriction:</p>
    <input type="text" name="restriction">
    <input type="submit" value="create" name="Activity">
</form>

</body>
</html>