<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css.css">
    <title>Booking</title>
</head>
<body>
<div th:replace="fragments/nav.html :: navigation"></div>

<h1>Bookings</h1>
<table>
    <tr>
        <th>Dato:</th>
        <th>Tlf:</th>
        <th>Bookingtime:</th>
        <th>Aktivitet:</th>
    </tr>

    <tr th:each="booking : ${bookings}">

        <td th:text="${booking.date}"></td>
        <td th:text="${booking.telephoneNumber}"></td>
        <td th:text="${booking.timeOfDay}"></td>
        <td th:text="${booking.activity.name}"></td>

        <td>
            <a th:href="@{/editBooking(id=${booking.id})}"><button>Edit</button></a>
            <a th:href="@{/deleteBooking(id=${booking.id})}"><button>Delete</button></a>
        </td>
    </tr>
</table>
<!--
<a href="/activities/createActivity"><button>Create New Booking</button></a>
-->
</body>
</html>

