<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css.css">
    <title>Booking</title>
</head>
<body>
<div th:replace="fragments/nav.html :: navigation"></div>

<label for="activity" >Choose desired activity</label>
<select name="activity" id="activity" form="bookingform">
    <option th:each="activity : ${activities}"
            th:value="${activity.name}"
            th:text="${activity.name}"> </option>
</select>
<br>

<label for="time">Choose time of day</label>
<select name="time" id="time" form="bookingform">
    <option value="1">08-10</option>
    <option value="2">10-12</option>
    <option value="3">12-14</option>
    <option value="4">14-16</option>
    <option value="5">16-18</option>
</select>


</select>

<form method="POST" action="/bookings/create" id="bookingform">

    <label for="datepicker">Choose date</label>
        <input type="date" id="datepicker" name="booking-date"
               value="2020-10-15"
               min="2020-10-15" max="2021-03-31">
    <br>

    <label for="deltager">Choose amount of participants</label>
        <input type="number" id="deltager" name="participants" min="1" max="20" required>

    <label for="telephone">Write your telefone number</label>
    <input type="text" id="telephone" name="telephone" required>

    <input type="submit" value="Submit"/>



</form>


</body>
</html>